@keyframes wobble-hor-top {
  0%, 100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }
  15% {
    transform: translateX(-30px) rotate(6deg);
  }
  30% {
    transform: translateX(15px) rotate(-6deg);
  }
  45% {
    transform: translateX(-15px) rotate(3.6deg);
  }
  60% {
    transform: translateX(9px) rotate(-2.4deg);
  }
  75% {
    transform: translateX(-6px) rotate(1.2deg);
  }
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.top {
  /* width: 1440px; */
  height: 1024px;
  flex-shrink: 0;
  background-image: url(img/main/Rectangle1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: -2px;
}

.top-content {
  margin-bottom: 493px;
}

.top-content__title {
  padding-top: 217px;
  /* margin-left: 120px; */
  color: #FFF;
  font-size: 64px;
  font-weight: 700;
}

.top-content__text {
  margin-top: 32px;
  margin-bottom: 44px;
  /* margin-left: 120px; */
  color: #FFF;
  font-size: 18px;
  font-weight: 300;
}

.top-content__text--bold {
  color: #FFF;
  font-weight: 700;
  text-decoration: none;
}

.top-content__podpiska {
  width: 234px;
  height: 48px;
  border-radius: 30px;
  background: #9C0332;
  /* margin-left: 120px; */
  margin-bottom: 493px;
  border-color: transparent;
  color: #FFF;
  font-size: 18px;
  font-weight: 400;
  animation: wobble-hor-top 0.8s steps(2, end) 2s 3 both;
}

.top-content__podpiska:hover {
  transform: scale(1.5);
  box-shadow: 0 0 5px #ccc;
}

.games-wrap {
  background-color: #000915;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 556px;
  padding-top: 128px;
  padding-bottom: 128px;
  display: flex;
  -moz-column-gap: 32px;
       column-gap: 32px;
  box-sizing: border-box;
  justify-content: center;
}

/* .games-content {
    display: flex;
    column-gap: 32px;
       } */
.games-content__game {
  /* width: 379px; */
  /* height: 556px; */
  border-radius: 16px;
  /* margin-left: 120px; */
  font-weight: 600;
  line-height: 32px;
  width: 379px;
  height: 300px;
  position: relative;
}

.game__text {
  color: #FFF;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  position: absolute;
  bottom: 32px;
  left: 32px;
}

.game__img:hover {
  transform: scale(1.01);
  box-shadow: 0 0 16px #000000;
}

.footer-content {
  height: 800px;
  background-image: url(img/main/Footer.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: -2px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 135px;
}

.footer-content__play {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  margin-top: 282px;
}

.footer-content__play-title {
  color: #FFF;
  font-size: 48px;
  font-weight: 700;
}

.footer-content__play-info {
  color: #FFF;
  font-size: 18px;
  font-weight: 300;
}

.footer-content__play-button {
  width: 234px;
  height: 48px;
  border-radius: 30px;
  background: #9C0332;
  /* margin-left: 120px; */
  border-color: transparent;
  color: #FFF;
  font-size: 18px;
  font-weight: 400;
  animation: wobble-hor-top 0.8s steps(2, end) 2s 3 both;
}

.footer-game {
  width: 485px;
  height: 333px;
  margin-top: 233px;
}/*# sourceMappingURL=main.css.map */